
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.infoBox{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 250px;
    min-width: 100px;
    max-width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-container{
    flex-grow: 1;
    display:flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center
}
.info-container{
    margin: 5px;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.infoBoxFeat{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    min-width: 200px;
    max-width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoBoxDesc{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    min-width: 200px;
    max-width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buyBtn{
    text-decoration: none;
    background-color: #3f51b5;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}
.info-container-bottom{
    margin: 5px;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}